.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./assets/images/BkLTEQ.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 100%;
    padding: 5vh;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 6vh;
    width: auto;
    margin-left: 1vh;
}

.title {
    display: flex;
    padding: 1vh;
    align-items: center;
}

.c {
    color: white;
}

.onvention {
    color: #45C4B0;
    width: auto;
}

body {
    margin-top: 0;
    background: #FFF5EE;
}

.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.avatar.sm {
    width: 2.25rem;
    height: 2.25rem;
    font-size: .818125rem;
}

.table-nowrap .table td,
.table-nowrap .table th {
    white-space: nowrap;
}

.table>:not(caption)>*>* {
    padding: 0.75rem 1.25rem;
    border-bottom-width: 1px;
}

table th {
    font-weight: 600;
    background-color: #eeecfd !important;
}

.mylist {
    margin: 10vh 0vh;
}

#ajout {
    width: 14vh;
    padding: 2vh;
    text-align: center;
    margin: 2vh;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #45C4B0;
    background: transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
}

.navbar h1 {
    margin: 0;
}

.table-card {
    border-radius: 20px;
    max-height: 70vh;
}

.mylist {
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 1px;
    overflow-y: scroll;
    background: rgb(255, 255, 255);
    scrollbar-width: thin;
    box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
    background: #5cb2a5e4;
    border-radius: 10px;
    width: 1px;
    scrollbar-width: thin;
}

* {
    scrollbar-color: #888 #f5f5f5;
    scrollbar-width: thin;
}

#ajout:hover {
    background-color: #45C4B0;
    transition: 0.7s;
}

.fa-check {
    color: #3ea12f;
}

.fa-times {
    color: rgb(187, 62, 20);
}

td {
    text-align: center;
    vertical-align: middle;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-pencil {
    color: #25ab97;
}

.fa-trash {
    color: rgb(105, 96, 96);
}

.button-table {
    all: initial;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}